// Button
.primary-btn {
    color: $c-background !important;
    background: $c-accent !important;
    border: none !important;
    border-radius: $radius !important;
    padding: $textFrameY $textFrameX;
    font-weight: 500;
    border: none;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    &:hover {
        background: $c-accent !important;
        border-color: $c-accentContrasted !important;
        color: $c-accentContrasted !important;
        filter: brightness(1.1);
        // box-shadow: 0 0 0 1px $c-accentContrasted inset !important;
    }
}

// Input
.cust-input-text {


    padding: calc($textFrameY - $fieldBorderWidth) $textFrameY;

    
    color: inherit;
    border:  $fieldBorderWidth solid $c-fieldBorder;
    border-radius: $radius;
    width: 100%;
    background-color: transparent;
    font-size: $text-s !important;
    margin-top: $space-s !important;

    // height:$input-height;
    &:focus {
        border-color: $border-focus-color ;
        box-shadow: none !important;
    }
    &:hover {
        border-color: $border-hover-color ;
        box-shadow: none !important;
    }
    .p-inputtext:enabled:focus {
        box-shadow: none !important;
    }
    .ng-invalid{
        border-color: $required-color !important  ;
    }
    .ng-valid{
        border-color :$border-color ;
    }
    &::placeholder{
    color: $placeholder-color;
    }
    &.p-component:disabled {
        border-color: $border-color !important;
    }
}

// Toast
.cust-toast {
    .p-toast {
        width: 300px;
    }
    .p-toast-message-content {
        display: flex;
        align-items: center;
        padding: 8px 4px 8px 12px !important;
        width: auto;
    }
    .p-toast-message-text {
        display: flex;
        justify-content: center;
        margin: 0 0 0 -2px !important;
        font-style: normal;
        // padding-left: 12px;
        // padding-right: 4px;
    }
    .p-toast-summary {
        font-weight: 400 !important;
        font-size: 14px;
        line-height: 16px;
        color: $toast-text-color;
        // text-transform: capitalize;
        // width: 224px;
    }
    .p-toast-message-icon {
        display: none;
        font-size: 15px !important;
    }
    .p-toast-message-success {
        background: #EAFCF4 !important;
        border: 1px solid #36B37E !important;
        border-radius: 4px;
        .p-toast-message-icon {
            // background: no-repeat url(../src/assets/toast-Sucess.svg) !important;
            width: 24px;
            height: 24px;
            &::before {
                content: '';
            }
        }
    }
    .p-toast-message-warn {
        background: #FFF8D6 !important;
        border: 1px solid #FFBD70 !important;
        border-radius: 4px;
        .p-toast-message-icon {
            // background: no-repeat url(../src/assets/toast-Warning.svg) !important;
            width: 24px;
            height: 24px;
            &::before {
                content: '';
            }
        }
    }
    .p-toast-message-error {
        background: #FFEAF4 !important;
        border: 1px solid #FF5630 !important;
        border-radius: 4px;
        .p-toast-message-icon {
            // background: no-repeat url(../src/assets/toast-Error.svg) !important;
            width: 24px;
            height: 24px;
            &::before {
                content: '';
            }
        }
    }
    .p-toast-icon-close {
        // display: none;
    }
    .p-icon-wrapper {
        display: none;    
    }
}