$primary-color:#071765;
$secondary-color:#408DFB;
$primary-white:#FFFFFF;
$primary-text-black: #111827;

$border-color:#CECECE;
$input-background:#F4F4F5;
$placeholder-color:#9CA3AF;
$input-text-color:#131E29;
$label-color:#343E54;
$steps-label-default-color:#44546F;
$steps-number-default-color:#556B82;
$steps-border-color:#E5E5E5;
$accordion-border-color:#CECECE;
$required-color:#F53232;
$dropdown-arrow-color:#44546F;
$calendar-icon-color:$steps-label-default-color;
$error-background-color:#FFEAF4;
$error-message-color:#DE350B;
$table-header-background:#EFEFEF;
$table-header-text:#1D2D3E;
$border-focus-color:#4C9AFF;
$border-hover-color:#0070F2;
$secondary-button-white:#F7F8F9;
$app-background-color:#F4F4F6;
$sidenav-background-color:#DCDFE4;
$secondary-border-color:#D1D5DB;
$toast-text-color:#1D2D3E;
// values
$input-height:32px;
$secondary-label-color:#44546F;
$login-form-background-color:#CECECE;
