<div class="main-area">
    <!-- <div class="nav-bar">
        <ul *ngFor="">
            <li></li>
        </ul>
    </div> -->
    <div class="table-container">
        <p-table [columns]="cols"  [scrollable]="true" [scrollHeight]="rows > 0 ?'401px' : ''" [totalRecords]="totalRecords" [rowHover]="rows > 0 ?true:false" [lazy]="true" (onLazyLoad)="getAllUsers($event)"
            [value]="users" [rows]="25" [showCurrentPageReport]="true" [paginator]="rows > 0 ?true:false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" class="user-table"
            (sortFunction)="customSort($event)" [customSort]="true" >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th [ngClass]="rows<=1?'notAllowed':'sortIcon'" *ngFor="let col of columns" [pSortableColumn]="rows>1 && col.field != 'actions' ?col.field:''">
                        {{col.header}} <span>
                            <p-sortIcon *ngIf="col.field != 'actions'" [field]="col.field">
                            </p-sortIcon>
                        </span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns; let i=index">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No records found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    
    </div>
</div>